<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Novikor\Telemage\Model\ConfigInterface" type="Novikor\Telemage\Model\Config"/>
    <preference for="Novikor\Telemage\Service\TelemageAPI\ApiClientFlyweightFactoryInterface" type="Novikor\Telemage\Service\TelemageAPI\ApiClientFlyweightFactory"/>
    <preference for="Novikor\Telemage\Api\Customer\CreateCustomerTokenByJWEInterface" type="Novikor\Telemage\Service\Customer\CreateCustomerTokenByJWE"/>
</config>
